body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-weight: 100;
  color: rgb(160, 160, 160);
  cursor: default;
  line-height: 300%;
}
img {
  width: 150px;
  height: 50px;
}
nav {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  iframe {
    width: fit-content !important;
    height: 320px;
  }
}
